<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="bootstrap-4.0.0/dist/css/bootstrap.css">
</head>
<body>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: red; border: 1px solid;">
          One of three columns
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: red; border: 1px solid;">
          One of three columns
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: red; border: 1px solid;">
          One of three columns
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: red; border: 1px solid;">
          One of three columns
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: green; border: 1px solid;">
          One of three columns
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: green; border: 1px solid;">
          One of three columns
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: green; border: 1px solid;">
          One of three columns
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: green; border: 1px solid;">
          One of three columns
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: yellow; border: 1px solid;">
          One of three columns
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: yellow; border: 1px solid;">
          One of three columns
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: yellow; border: 1px solid;">
          One of three columns
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6" style="background-color: yellow; border: 1px solid;">
          One of three columns
        </div>
      </div>
</body>
</html>



